.button1 {
    color: #0069d9;
    background-image: image(white);
    font-size: 15px;
    font-weight: 400;
    /* padding: 7px 20px; */
    border: 2px solid #0069d9;
    border-radius: 5px;
    transition: 0.3s;
    font-family: "Poppins-Regular";
}

.button1:hover {
    background-image: image(#0069d9);
    color: white;
}

.button2 {
    color: #0069d9;
    background-image: image(white);
    
    font-size: 15px;
    font-weight: 600;
    /*padding: 7px 20px;*/
    border: 1px solid #77b6fa; 
    /* border: none; */
    border-radius: 20px;
    transition: 0.3s;
    font-family: "Poppins-Regular";
    /* border-radius: 5px; */
    /*font: Comic Sans 12;*/
}

.button2:hover {
    color: red;
    border-color: #0069d9;
    border-radius: 3px;
    font-family: "Poppins-Regular";
    /* border-width: 2px; */
}

entry {
    border: 2px solid #0069d9;
    border-radius: 5px;
    font-weight: 400;
    background-color: white;
    color:#0069d9;
    transition: 0.3s;
    font-family: "Poppins-Regular";
}

entry:focus {
    background-image: image(#74b2f5);
    color: #0F044B;
}

entry:hover {
    border: 2px solid #74b2f5;
}


.err-label {
    color:red;
    font-family: "Poppins-Regular";
}

.welcome-label {
    font-size: 24px;
    font-family: "Poppins-Regular";
}

.sign-label {
    font-size: 21px;
    font-family: "Poppins-Regular";
}

.background {
    background-color: #9ac8f8;
}
.background-light {
    background-color: #b6d8fc;
}

.main-background {
    background-color: #9ac8f8;
}

.contacts-background {
    background-color: #9ac8f8;
}

.chat-background {
    background-color: #9ac8f8;
}

.message-text {
    font-weight: 300;
    font-size: 13px;
    font-family: "Poppins-Regular";
}

.message-user {
    font-size: 14px;
    font-weight: 400;
    /* font-family: "Poppins-Regular"; */
}

.message-time {
    font-size: 10px;
    font-weight: 300;
    color: grey;
    font-family: "Poppins-Regular";
}

#file_entry {
    border: 2px solid #0069d9;
    border-radius: 5px;
    font-weight: 400;
    background-color: white;
    color:#0069d9;
    transition: 0.3s;
    font-family: "Poppins-Regular";
}

#chat_window > * {
    background-image: image(#74b2f5);
}
