button {
    color: black;
    background-image: image(white);
    
    font-size: 15px;
    padding: 7px 20px;
    border-radius: 5px;
    /*font: Comic Sans 12;*/
}

button:hover {
    background-image: image(#0069d9);
    color: white;
}

entry {
    border: 2px solid white;
    border-radius: 5px;
    color: red;
}

/*entry:hover {
    border: 2px solid #0069d9;
}*/
